// 主题-白天
$bodyBgc-day: #fff;
$text-day: #333;
$hoverBgc-day: rgba(240,240,240,.7);

//主题-夜晚
$bodyBgc-night: #3f3f3f;
$text-night: #c8c8c8;
$hoverBgc-night: rgba(0,0,0,.3);

//主题-微软雅黑
$font-heiti: "微软雅黑";

//主题-宋体
$font-songti: "宋体";